#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.conten {
  display: grid;
  grid-template-columns: 265px 80px;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url("./assets/box.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 350px;
}
.item-a {
  grid-column: 2 / span 2;
  grid-row: 2 / 3;
  align-self: start;
  justify-self: center;
}
.item-a input {
  width: 40px;
  height: 8px;
}
.item-b {
  grid-column: 2 / span 2;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: end;
}
.item-b img {
  width: 70px;
  height: 50px;
}
.item-c {
  grid-column: 1 / span 1;
  grid-row: 5 / 6;
  justify-self: end;
  align-self: center;
}
.input2 {
  margin: 13px 0 0 0;
  height: 10px;
  width: 90px;
}
